<h1>Personajes de Star Wars</h1>

<div>
  <span *ngFor="let in of counter() ;let i = index"><button (click)="getPagPersonajes(i+1)">{{i+1}}</button>&nbsp;</span>
</div>

<div class="contenedor">
  <mat-card class="example-card" *ngFor="let personaje of listaPersonajes">
    <mat-card-header>
      <mat-card-title>{{personaje.name}}</mat-card-title>
      <mat-card-subtitle>{{personaje.gender}}</mat-card-subtitle>
      <mat-card-subtitle>{{personaje.height}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      [src]="'https://starwars-visualguide.com/assets/img/characters/' + personaje.url.split('/')[5] + '.jpg' ">
  </mat-card>
</div>