<div id="contenedor" class="container text-center">
  <div class="py-3">
    <img
      src="https://i.pinimg.com/originals/2f/a3/c2/2fa3c28272f3fa04afb2aea7cb30bedb.png"
      alt="Logo Star Wars"
      width="40%"
    />
  </div>

  <div class="row w-100">

    <a routerLink="/personajes" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/character.jpg"
          class="card-img-top "
          alt="Personajes"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-danger fs-2 bg-black bg-opacity-50 align-bottom">Personajes</h5>
        </div>
      </div>
    </a>

    <a routerLink="/peliculas" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/films.jpg"
          class="card-img-top "
          alt="Peliculas"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-warning fs-2 bg-dark bg-opacity-50 align-bottom">Peliculas</h5>
        </div>
      </div>
    </a>

    <a routerLink="/especies" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/species.jpg"
          class="card-img-top "
          alt="Especies"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-primary fs-2 bg-black bg-opacity-50 align-bottom">Especies</h5>
        </div>
      </div>
    </a>

    <a routerLink="/naves" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/starships.jpg"
          class="card-img-top "
          alt="Naves"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-success fs-2 bg-black bg-opacity-50 align-bottom">Naves</h5>
        </div>
      </div>
    </a>

    <a routerLink="/vehiculos" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/vehicles.jpg"
          class="card-img-top "
          alt="Vehiculos"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-info fs-2 bg-black bg-opacity-50 align-bottom">vehiculos</h5>
        </div>
      </div>
    </a>

    <a routerLink="/planetas" class="col-4 my-3">
      <div class="card bg-dark border border-4 border-dark text-center ">
        <img
          src="https://starwars-visualguide.com/assets/img/categories/planets.jpg"
          class="card-img-top "
          alt="Planetas"
        />
        <div class="card-img-overlay px-0">
          <h5 class="text-danger fs-2 bg-black bg-opacity-50 align-bottom">Planetas</h5>
        </div>
      </div>
    </a>

</div>
