<h1>vehiculos de Star Wars</h1>

<h4 class="">
  <a class="text-decoration-none" routerLink="/">Menú Principal</a> / vehiculos
</h4>

<div id="contendor" class="container">
  <nav aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item mx-1">
        <a class="page-link btn fw-bold" (click)="getPagVehiculos(actualPag - 1)"
          >Anterior</a
        >
      </li>
      <li class="page-item mx-1" *ngFor="let in of counter(); let i = index">
        <a class="page-link btn fw-bold" (click)="getPagVehiculos(i + 1)">{{
          i + 1
        }}</a>
      </li>
      <li class="page-item mx-1">
        <a class="page-link btn fw-bold" (click)="getPagVehiculos(actualPag + 1)"
          >Siguiente</a
        >
      </li>
      <li class="page-item ms-4">
        <a class="page-link rounded-3 bg-dark text-white fw-bold"
          >Pag. {{ actualPag }}/{{ numPags }}</a
        >
      </li>
    </ul>
  </nav>

  <div class="row justify-content-center">
    <div
      class="card col-2 mx-2 my-2 px-0 border border-dark border-3"
      *ngFor="let vehiculo of listaVehiculos"
    >
      <img
        [src]="getVehiculoImgUrl(vehiculo)"
        class="card-img-top"
        alt="foto Vehiculo"
        onerror="this.src='https://starwars-visualguide.com/assets/img/placeholder.jpg'"
      />
      <div class="card-body text-center">
        <h5 class="card-title fs-3">{{ vehiculo.name }}</h5>
      </div>
    </div>
  </div>
</div>
